<!DOCTYPE html>
{% autoescape true %}
<html>
  <style type="text/css">
      th {
        background-color: #FF8C00;
        color: white;
      }
      .forms form,
      .forms form div {
        display: inline;
      }
      .forms button{
        display: inline;
        vertical-align: middle;
      }
    </style>

  <head>

    <h2>List of Opportunities</h2>
    <h4>Put in user id to gain access to favorites</h4>
    <br>
  </head>
  <body>
    <form method = "post">
      <input type = "text" name = "userID" placeholder="user id">
      <input type = "submit" value = "Submit">
    </form>
    <br>
    <div class = "forms">
      <form method = "post">
        <div>
          <button type = "submit" name = "Clear ID" value = "Clear">Clear ID</button>
        </div>
      </form>

      {% if userID %}
      <form method = "post">
        <div>
          <button type = "submit" name = "Favorite JSON" value = "Favorite json">Favorite JSON</button>
        </div>
      </form>

      <form method = "post">
        <div>
          <button type = "submit" name = "Favorite List" value = "Favorite List">Favorites Table</button>
        </div>
      </form>
      {% endif %}

    </div>


    <br>
    <br>

    {% if userID %}
    <h2 id = "id" name = "id" value = "{{userID}}">User ID - {{userID}}</h2>
    {% endif %}
    <div class = "table">
      <table>
        <tr>
          <th>Name</th>
          <th>URL</th>
          <th>Description</th>
          <th>Deadline</th>
          <th>Date</th>
          {% if userID %}
          <th>Favorite</th>
          {% endif %}
        </tr>
        {% for opp in opps %}
        <tr>
          <td>{{opp.name}}</td>
          <td>{{opp.url}}</td>
          <td>{{opp.description}}</td>
          <td>{{opp.deadline}}</td>
          <td>{{opp.date}}</td>
          {% if userID %}
          <td><form method = "post">
            <button type="submit" name="favbtn" value = "{{opp.uid}}">FAV
            </button></form></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>

    </div>
  </body>
</html>
{% endautoescape %}
